.UrlsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
  padding-top: 5vh;
}

.urls-container {
  margin-top: 8vh;
  display: flex;
  height: 50vh;
  width: 64vw;
  flex-direction: column;
  justify-content: space-between;
}

.url-row-container {
  display: flex;
  justify-content: space-between;
}

.url-plus-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 31.5vw;
  border-radius: 10px;
  background-color: #6a63f6;
  cursor: pointer;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 800;
  opacity: 0.6;
}

.url-plus-button:hover {
  opacity: 1;
}

.abstract-shape2 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  height: 40vh;
  transform: translate(3vw);
}

.img-crop {
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
  height: 40vh;
  width: 40vw;
}
