.reqeust-page-header {
  display: flex;
  flex-direction: row;
  /* background-color: red; */
}

.request-container {
  display: flex;
  /* flex-direction: row; */
  margin: 20;
  /* height: 85vh; */
  width: 100vw;
  justify-content: center;
  /* background-color: #e6e6e6; */
}

.rqbox-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 47vh;
  margin: 20;
  /* background-color: red; */
  overflow-y: auto;
}

.rqbox-container-new {
  margin-top: 1.5em;
}

.request-container-box {
  /* width: 100vw; */
  /* height: 200; */
  /* margin: 2em; */
  margin: 1.7em;
  margin-top: 4.5vh;
  /* width: 45%; */
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.request-container-box-button {
  background-color: #6a63f6;
  color: #ffffff;
  text-align: center;
  font-size: 3vh;
  padding: 1.5vh 0 1.5vh 0;
  font-weight: bold;
  width: 100%;
}

.token-time-container {
  display: flex;
}

.tokentime-add-container {
  display: flex;
}

.tokentime-add-input {
  background-color: #e6e6e6;
  border: none;
  padding-left: 1em;
  font-size: 2.2vh;
  border-radius: 10px;
}

.tokenname {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.tokentime-add-input:focus {
  outline: none !important;
  box-shadow: inset 0 0 0 1px #6a63f6;
}

.tokentime-add-submit {
  background-color: #6a63f6;
  color: #ffffff;
  text-align: center;
  font-size: 2.2vh;
  padding: 0.5vh 0 0.5vh 0;
  font-weight: bold;
  border-radius: 10px;
  margin-left: 0.5em;
  width: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tokentime-add-submit:hover {
  cursor: pointer;
}

.tokentime-add-cancel {
  background-color: #ffffff;
  color: #6a63f6;
  text-align: center;
  font-size: 2.2vh;
  padding: 0.5vh 0 0.5vh 0;
  font-weight: bold;
  border-radius: 10px;
  margin-left: 0.3em;
  width: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #6a63f6;
}

.tokentime-add-cancel:hover {
  cursor: pointer;
}

.time {
  width: 2.5vw;
  text-align: center;
  height: 100%;
  padding-left: 0 !important;
}

.timeinput {
  display: flex;
  align-items: center;
}

.time-divider {
  display: flex;
  align-items: center;
  margin: 0 0.15em 0 0.15em;
  font-weight: bold;
}

.tokentime-plus-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #e6e6e6;
  cursor: pointer;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 800;
  opacity: 0.6;
}

.available-token-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.expired-token-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.request-plus-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #6a63f6;
  cursor: pointer;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 800;
  opacity: 0.6;
  height: 8vh;
  margin: 0 0.8em 0 0.8em;
}

.request-plus-button:hover {
  opacity: 1;
}

.input-type-and-url {
  display: flex;
  align-items: center;
}

.specurl-input {
  margin-right: 0.8vw;
  padding: 0.5em;
  border-radius: 8px;
  background-color: #e6e6e6;
  height: 3.5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  padding-left: 1em;
  width: 24vw;
  border: none;
  font-size: 2.2vh;
}

.rqbox-input-confirm {
  background-color: #6a63f6;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5em;
}

.rqbox-input-cancel {
  background-color: #6a63f6;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rqbox-input-tokencontent {
  background-color: #e6e6e6;
  border: none;
  width: 96%;
  border-radius: 10px;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 10vh;
  padding-right: 1em;
}

.rqbox-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  margin: 0 1.5em 1.5em 1.5em;
  border-radius: 10px;
  padding: 1em;
}

.requesttype-select {
  margin-right: 0.5em;
  width: 20.5%;
}

.token-type-option {
  width: 20.5%;
  margin: 0.5em 0 0.5em 0;
}
